<div class="searchbar">
  <md-icon class="searchbar-material-icons">search</md-icon>
  <input #searchb class="searchbar-input" placeholder="Search" size="15" (keyup)="search(searchb.value)">
  <md-icon mdTooltip="Sort employees by last name" class="searchbar-material-icons sort" (click)="sort()">sort</md-icon>
  <md-icon mdTooltip="Filter employees button" class="searchbar-material-icons filter" (click)="openFilter()">filter_list</md-icon>
  <span class="seachbar-counter">{{employeescount}}</span>

</div>

<body>
  <md-nav-list>
    <span *ngFor="let emp of employees">
   <md-list-item [ngClass]="{'emp-selected':idSelectedEmployee===emp.id}"  
  (click)="onSelectEmployee(emp)">
<img md-list-avatar src={{emp.imgpath}} alt="User" >
  <p md-line>
    <span><b>{{emp.firstname}} {{emp.lastname}}</b></span>
    <span>|{{emp.dob|date:'dd MMMM yyyy'}}</span>
    </p>
    <p md-line>{{emp.grade}},{{' '+emp.division}}</p>
    <p md-line>{{emp.location}},{{' '+emp.phone}}</p>
    <md-icon class="left-display-material-icons">playlist_play</md-icon>
    </md-list-item>
    <md-divider></md-divider>
    </span>
  </md-nav-list>
</body>