<body class="form-body">
  <form [formGroup]="formEmployee" >
    <div class="left-side">
      <mdl-textfield type="text" required label="First Name" id="firstName" placeholder="First Name" formControlName="firstName"
        floating-label></mdl-textfield>
      <mdl-textfield type="text" required label="Last Name" id="lastName" placeholder="Last Name" formControlName="lastName" floating-label></mdl-textfield>
      <md-select placeholder="Gender" formControlName="gender">
        <md-option *ngFor="let gen of gender" [value]="gen.value">
          {{gen.viewValue}}
        </md-option>
      </md-select>
      <md2-datepicker class="date-picker" openOnFocus="true" format="DD/MM/YYYY" type="date" placeholder="Date Of Birth" style="width: 300px"
        formControlName="dob"></md2-datepicker>
      <mdl-textfield type="text" label="Nationality" formControlName="nationality" floating-label></mdl-textfield>
      <mdl-textfield type="text" label="Marital Status" formControlName="marital" floating-label></mdl-textfield>
      <mdl-textfield type="text" pattern="-?[0-9,+]*(\.[0-9,+]+)?" error-msg="Input is not a number!" label="Phone" formControlName="phone"
        floating-label></mdl-textfield>
    </div>
    <div class="right-side">
      <mdl-textfield type="text" label="Sub Division" id="subDivision" formControlName="subdiv" floating-label></mdl-textfield>
      <mdl-textfield type="text" label="Status" id="status" formControlName="status" floating-label></mdl-textfield>
      <md2-datepicker class="date-picker" openOnFocus="true" format="DD/MM/YYYY" type="date" placeholder="Suspend Date" style="width: 500px"
        formControlName="datesusp"></md2-datepicker>
      <md2-datepicker class="date-picker" openOnFocus="true" format="DD/MM/YYYY" type="date" placeholder="Hired Date" style="width: 500px"
        formControlName="datehire"></md2-datepicker>
         <mdl-textfield text="text" label="grade" id="grade" formControlName="grade" floating-label></mdl-textfield>
      <md-select placeholder="Location" formControlName="location">
        <md-option *ngFor="let loc of location" [value]="loc.value">
          {{loc.viewValue}}
        </md-option>
      </md-select>
      <md-select placeholder="Division" formControlName="maindiv">
        <md-option *ngFor="let div of division" [value]="div.value">
          {{div.viewValue}}
        </md-option>
      </md-select>
      <mdl-textfield text="text" label="Email" id="email" formControlName="email" floating-label></mdl-textfield>
    </div>
  </form>
  <div class="img-employee-area">
    <div class="img-employee"  [ngStyle]="{'background-image': 'url(unknown.png)'}">
      <label for="file-input" >
      <md-icon class="emp-img-add-icon">add_a_photo</md-icon>
      </label>
      <input id="file-insert" type="file" (change)="fileChange($event)" accept=".png, .jpeg, .bmp, .jpg, .gif">
    </div>
  </div>
  <div class="button-utility-area">
    <button md-raised-button color="primary" class="emp-button" (click)="onSave(formEmployee.value)">Save Data</button>
    <button md-raised-button color="" class="emp-button" (click)="onCancel()">Cancel</button>
</div>
</body>



