.left-side{
   padding-left:20px; 
     width: 35%;
    height: 575px;
    float: left;
   }
.right-side{
   padding-left:20px; 
     width: 35%;
    height: 575px;
    float: left;
   }
mdl-textfield{
    width:100%;
    /*position: relative;*/
}
md-select{
    padding-top:10px; 
    width: 100%;
}
.md-datepicker-input{
    width: 100%;
}
#button-edit{
    position: absolute;
    width: 50px;
    background-color: blue;
    bottom:0;
}


.img-employee-area{
     float: left;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 20%;
    padding-top: 20px;
}

.img-employee {
    position: absolute;
    height: 150px;
    width: 150px;
    right: 0px;
    float:left;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}