<div class="main-div">
    <div class="left-div">
        <app-list-employee (emp)="employeeListId" ></app-list-employee>
        <a md-fab routerLink="./Employees" class="floating-button">
            <md-icon>+</md-icon>
        </a>
    </div>
</div>

<div class="right-div">
    <md-tab-group>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon class="utility-status">person</md-icon>
            </ng-template>
            <app-form-employee    [emp]="selectedEmployee"       ></app-form-employee>
        </md-tab>
        <md-tab disabled="true">
            <ng-template md-tab-label>
                <md-icon class="utility-status">history</md-icon>
            </ng-template>
        </md-tab>
        <md-tab disabled="true">
            <ng-template md-tab-label>
                <md-icon class="utility-status">layers</md-icon>
            </ng-template>
        </md-tab>
        <md-tab disabled="true">
            <ng-template md-tab-label>
                <md-icon class="utility-status">wc</md-icon>
            </ng-template>
        </md-tab>
        <md-tab disabled="true">
            <ng-template md-tab-label>
                <md-icon class="utility-status">home</md-icon>
            </ng-template>
        </md-tab>
        <md-tab disabled="true">
            <ng-template md-tab-label>
                <md-icon class="utility-status">place</md-icon>
            </ng-template>
        </md-tab>
    </md-tab-group>

</div>