
.left-div {
    width: 30%;
height: 600px;
    top: 60px;   
    left: 0px;
        float: left;
        overflow: hidden;
    box-sizing: border-box;
    bottom: 0px;
    border: solid rgba(0, 0, 0, 0.5);
    border-width: 0px 1px 0px 0px;
}

.right-div {
    min-width: 480px;
    width: 70%;
       top: 60px;
  box-sizing: border-box;
    float:left;
  
    bottom: 0px;
    background-color:orange;
}
.floating-button {
  position: absolute;
  left: 22%;
  bottom: 50%;


}